recursive-include memoria_server/dashboard *
recursive-include memoria/evaluation/specs *.yaml *.json
recursive-include memoria/evaluation/starter_datasets *.jsonl *.json
recursive-include configurations *.yaml
